layout_poetry

# Disables the little "hello from pygame" output in the terminal
export PYGAME_HIDE_SUPPORT_PROMPT=1

# Allow us to run the scripts kept in the component's `bin/` directory
export PATH="$PWD/bin:$PATH"
